<div class="container">
  <div class="row">
    <%= form_tag(books_search_path, method: :get) do %>
      <%= text_field_tag :title, @title %>
      <%= button_tag "検索", type: "submit" %>
    <% end %>
  </div>

  <div class="row">
  <div class="col-md-12">

      <table class="table" style="border: 1px solid black;">
        <thead>
          <tr>
            <th></th>
            <th>タイトル,著者,出版社</th>
            <th>出版日</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td style="border: 1px solid black;">
                <% if book.image_url.present? %>
                  <%= image_tag book.image_url, width: 128, height: 188 %>
                <% else %>
                  <%= image_tag "no_image.jpg", width: 128, height: 188 %>
                <% end %>
              </td>
              <td style="border: 1px solid black; text-align: center;">
                <%= book.title %>
                <br>
                <%= book.author %>
                <br>
                <%= book.publisherName %>
              </td>
              <td style="border: 1px solid black; text-align: center;">
                <%= book.salesDate %>
              </td>
              <td style="border: 1px solid black; text-align: center;">
                <%= form_tag(bookshelves_path, method: :post) do %>
                  <%= hidden_field_tag :isbn, book.isbn %>
                  <%= submit_tag '★', class: 'btn btn-primary' %>
                <% end %>
              </td>
     
            </tr>
          <% end %>
        </tbody>
      </table>

  </div>
</div>