<div class="container-book">
  
  <div class="row">
    <%= form_tag(books_search_path, method: :get) do %>
      <%= text_field_tag :title, @title, placeholder: "タイトルを入力" %>
      <%= button_tag "検索", type: "submit" %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">

      <table class="table">
        <thead>
          <tr>
            <th>表紙</th>
            <th>タイトル,著者,出版社</th>
            <th>出版日</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>
                <% if book.image_url.present? %>
                  <%= image_tag book.image_url, width: 128, height: 188 %>
                <% else %>
                  <%= image_tag "no_image.jpg", width: 128, height: 188 %>
                <% end %>
              </td>
              <td>
                <%= book.title %>
                <br>
                <%= book.author %>
                <br>
                <%= book.publisherName %>
              </td>
              <td>
                <%= book.salesDate %>
              </td>
              <td>
                <%= form_tag(bookshelves_path, method: :post) do %>
                  <%= hidden_field_tag :isbn, book.isbn %>
                  <%= button_tag class: 'btn btn-primary' do %>
                    <i class="fas fa-bookmark"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>
  </div>
  
</div>

<%= render 'layouts/footer' %>