<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 ">

      <h1>タグ一覧</h1>
      
      <%= form_with(model: Tag.new, url: tags_path, local: true) do |form| %>
        <%= form.label :name, '新しいタグの名前:' %>
        <%= form.text_field :name %>
        <%= form.submit '作成する' %>
      <% end %>
      
      
      <% @tags.each do |tag| %>
        <div class="tag">
          <%= tag.name %>
          <span>
            <%= link_to comics_tag_path(tag), class: "tag-link" do %>
              (<%= tag.comic_tags.count %>)
            <% end %>
          </span>
          |<%= link_to '削除', tag, method: :delete, data: { confirm: 'このタグが付いている漫画からもこのタグは削除されます。本当に削除しますか？' } %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<%= render 'layouts/footer' %>