<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 ">

      <h3 style="text-align: center;">
        <span style="background-color: #eaedf7;">タグ一覧</span>
      </h3>

      <div class="text-center">
        <%= form_with(model: Tag.new, url: tags_path, local: true) do |form| %>
          <%= form.label :name, '新しいタグの名前:' %>
          <%= form.text_field :name %>
          <%= form.submit '作成する' %>
        <% end %>
      </div>

      <div class="row justify-content-center">
        <strong>並び順:</strong>
        <%= link_to '名前順', tags_path(order: 'name'), class: 'tag-sort-link' %>
        |
        <%= link_to '漫画数順', tags_path(order: 'comic_tags_count'), class: 'tag-sort-link' %>
      </div>

      <div class="row">
        <% @tags.each do |tag| %>
          <div class="col-md-6 mb-3">
            <div class="tag">
              <% if tag.id.present? %>
                <%= link_to comic_tag_path(tag), class: "tag-link" do %>
                  <%= tag.name %>(<%= tag.comic_tags.count %>)
                <% end %>
              <% else %>
                <%= tag.name %>(<%= tag.comic_tags.count %>)
              <% end %>
              |
              <%= link_to '削除', tag, method: :delete, data: { confirm: 'このタグが付いている漫画からもこのタグは削除されます。本当に削除しますか？' } %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<%= render 'user/volume/index', volumes: @volumes %>

<%= render 'layouts/footer' %>