<div class="container">
  <div class="row">
    <div class="col-md-6">
     <h5>
        <span>
          <%= link_to "#{current_user.nickname}", my_page_path, class: "background: linear-gradient(transparent 70% , yellow 70%" %>
          の本棚
        </span>
    </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-4" style="text-align: right;">
      <%= link_to new_bookshelf_path, class: "btn btn-outline-dark btn-circle text-dark" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table" style="border: 1px solid black;">
        <thead>
          <tr>
            <th style="border: 1px solid black;">タイトル</th>
            <th style="border: 1px solid black;">著者</th>
            <th style="border: 1px solid black;">操作</th>
          </tr>
        </thead>
        <tbody>
          <% @bookshelf.each do |bookshelf| %>
            <tr>
              <td style="border: 1px solid black;">
                <% if bookshelf.book&.image_url.present? %>
                  <%= image_tag url_for(bookshelf.book.image_url), width: 128, height: 188 %>
                <% else %>
                  <%= image_tag "no_image.jpg", width: 128, height: 188 %>
                <% end %>

                <%= bookshelf.book&.title %>
              </td>
              <td style="border: 1px solid black;">
                <%= bookshelf.book&.author %>
              </td>
              <td style="border: 1px solid black; text-align: center;">
                <%= link_to bookshelf_path(bookshelf), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" do %>
                  削除する
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>