<div class="container">
  <div class="row">

    <div class="col-8">
      <h5><span style="background-color: #dcdcdc;">漫画一覧</span></h5>
    </div>

    <div class="col-12">
      <table class = "table table-striped">


        <tbody>
          <% if @comics.present? %>
            <% @comics.each do |comic| %>
              <tr>
                <td><%= link_to comic.title, comic_path(comic) %></td>
                <td><%= comic.author %></td>
                <td><%= comic.publisher %></td>
                <td>
                  <%= link_to "編集する", edit_comic_path(comic), class: "btn btn-success" %>
                </div>
                <td>
                  <%= link_to comic_path(comic), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？"  do %>
                    削除する
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4">データがありません。</td>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>
  </div>
  <!-- %= paginate @comics % -->
</div>