<div class="container">
  <h5><span style="background-color: #dcdcdc;">漫画詳細</span></h5>
  <div class="row">
    <div class="col-md-4">
      <% if @comics.image.attached? %>
        <%= image_tag @comics.image, width: 250, height: 250 %>
      <% else %>
        <%= image_tag "no_image.jpg", width: 250, height: 250 %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">タイトル</div>
        <div class="col-md-8"><%= @comics.title %></div>
      </div>
      <div class="row">
        <div class="col-md-4">著者</div>
        <div class="col-md-8"><%= @comics.author %></div>
      </div>
      
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>