<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1><%= @comic.title %></h1>
      <p>タイトル頭文字: <%= @comic.initial %></p>
      <p>著者: <%= @comic.author %></p>
      <p>出版社: <%= @comic.publisherName %></p>
      <p>連載状況:
        <% if @comic.situation == "serialization" %>
          <%= "連載中" %>
        <% elsif @comic.situation == "completed" %>
          <%= "完結" %>
        <% elsif @comic.situation == "hsuspended" %>
          <%= "休載中" %>
        <% end %>
      </p>
      <p>形式:
        <% if @comic.story == "hardcover" %>
          <%= "単行本" %>
        <% elsif @comic.story == "separate_volumes" %>
          <%= "分冊本" %>
        <% elsif @comic.story == "single_story" %>
          <%= "単話" %>
        <% end %>
      </p>
      <p>所持巻数: <%= @volumes %></p>
      <p>購入場所:
        <% if @comic.purchase_place == "book_store" %>
          <%= "本屋" %>
        <% elsif @comic.purchase_place == "e_book" %>
          <%= "電子書籍" %>
        <% else @comic.purchase_place == "others" %>
          <%= @comic.purchase_place_custom %>
        <% end %>
      </p>
      <p>タグ: <%= @comic.tags.join(', ') %></p>
      <p>備考欄: <%= @comic.remarks %></p>

      <%= link_to '編集', edit_comic_path(@comic), class: 'btn btn-primary' %>
      <%= link_to '削除', comic_path(@comic), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
      <%= link_to '一覧に戻る', my_page_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>