<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        
        <%= link_to "タイトル順", my_page_path(order: 'title') %>
        <%= link_to "作者順", my_page_path(order: 'author') %>
        
        <thead>
          <tr>
            <th>タイトル</th>
            <th>著者</th>
            <th>出版社</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @bookshelf.each do |bookshelf| %>
            <tr>
              <td><%= link_to bookshelf.book.title, bookshelf_path(bookshelf) %></td>
              <td><%= bookshelf.book.author %></td>
              <td><%= bookshelf.book.publisherName %></td>
              <td style="text-align: center;">
                <%= link_to bookshelf_path(bookshelf), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" do %>
                  削除する
                <% end %>
              </td>
            </tr>
          <% end %>

          <% if @comics.present? %>
            <% @comics.each do |comic| %>
              <tr>
                <td><%= link_to comic.title, comic_path(comic) %></td>
                <td><%= comic.author %></td>
                <td><%= comic.publisher %></td>
                <td style="text-align: center;">
                  <!-- 漫画に対する操作のリンクなどを追加する場合はここに追加 -->
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4">データがありません。</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<%= render 'layouts/footer' %>