<div class="container">
  
  <div class="row">
    <div class="col-8">
      <h5><%= link_to "#{current_user.nickname}の本棚" , user_path(@user) %></h5>
    </div>
    <div class="col-4" style="text-align: right;">
      <%= link_to new_comic_path, class: "btn btn-outline-dark btn-circle text-dark" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>
  
  <!-- 作者、タグ、および検索での絞り込みフォーム -->
  <%= form_tag(my_page_path(current_user), method: :get) do %>
    <%= text_field_tag :search, params[:search], placeholder: 'タイトル,著者,出版社,タグ' %>
    <%= submit_tag '検索' %>
  <% end %>
  
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        
        <thead>
          <tr>
            <th>タイトル<%= link_to "順▼", my_page_path(order: 'title') %></th>
            <th>著者<%= link_to "順▼", my_page_path(order: 'author') %></th>
            <th>出版社<%= link_to "順▼", my_page_path(order: 'publisherName') %></th>
            <th>所持巻数</th>
            <th>合計巻数</th>
            <th>操作</th>
          </tr>
        </thead>
        
        <tbody>
          <% if @filtered_comics.present? %>
            <% @filtered_comics.each do |comic| %>
              <tr>
                <td><%= link_to comic.title, comic_path(comic) %></td>
                <td><%= comic.author %></td>
                <td><%= comic.publisherName %></td>
                <td><%= comic.volumes.join(', ') %></td>
                <td><%= comic.total_volumes %></td>
                <td><%= link_to '編集', edit_comic_path(comic), class: 'btn btn-primary' %></td>
              </tr>
            <% end %>
          <% elsif @comics.present? %>
            <% @comics.each do |comic| %>
              <tr>
                <td><%= link_to comic.title, comic_path(comic) %></td>
                <td><%= comic.author %></td>
                <td><%= comic.publisherName %></td>
                <td><%= comic.volumes.join(', ') %></td>
                <td><%= comic.total_volumes %></td>
                <td><%= link_to '編集', edit_comic_path(comic), class: 'btn btn-primary' %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="6">データがありません。</td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <td><strong>総合計：<%= @comics.sum(&:total_volumes) %></strong></td>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>