<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h5>
        <span>
          <%= link_to "#{current_user.nickname}", infomation_path, class: "background: linear-gradient(transparent 70% , yellow 70%" %>
          の本棚
        </span>
      </h5>
    </div>
    <div class="col-4" style="text-align: right;">
      <%= link_to new_comic_path, class: "btn btn-outline-dark btn-circle text-dark" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>


  <div class="row">
     <table class = "table table-striped">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>著者</th>
            <th>出版社</th>
            <th>操作</th>
          </tr>
        </thead>
        <h2>Combined Data</h2>
        <div class="container">
  <div class="row">
    <div class="col-8">
      <h5><span style="background-color: #dcdcdc;">漫画一覧と本棚</span></h5>
    </div>

    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>著者</th>
            <th>出版社</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% if @combined_data.present? %>
            <% @combined_data.each do |book| %>
              <tr>
                <td><%= link_to book.title, book_path(book) %></td>
                <td><%= book.author %></td>
        
                <td>
                  <%= link_to "編集する", edit_book_path(book), class: "btn btn-success" %>
                </td>
                <td>
                  <%= link_to book_path(book), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？"  do %>
                    削除する
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4">データがありません。</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- %= paginate @combined_data % -->
</div>


<%= render 'layouts/footer' %>