<div class="container">

  <div class="row">
    <h5><%= link_to "#{current_user.nickname}" , user_path(@user) %>の本棚</h5>
  </div>

  <div class="row">
    <p>作成した
      <%= link_to tags_path do %>
        <i class="fa fa-tag"></i> タグ一覧
      <% end %>
    と
      <%= link_to volumes_path do %>
        巻数一覧
      <% end %>
    </p>
  </div>

  <div class="row">
    <div class="col-10">
      <!-- 作者、タグ、および検索での絞り込みフォーム -->
      <%= form_tag(my_page_path(current_user), method: :get) do %>
        <%= text_field_tag :search, params[:search], placeholder: 'タイトル,著者,出版社,タグ', size: 50 %>
        <%= submit_tag '検索' %>
      <% end %>
    </div>

    <div class="col-2" style="text-align: right;">
      <%= link_to new_comic_path, class: "btn btn-outline-dark btn-circle text-dark" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <table class="table">
        <thead>
          <tr>
            <th class="col1">a<%= link_to "順▼", my_page_path(order: 'initial') %></th>
            <th class="col2">タイトル(<%= @total_titles_count %>)</th>
            <th class="col3">著者<%= link_to "順▼", my_page_path(order: 'author') %></th>
            <th class="col4">出版社<%= link_to "順▼", my_page_path(order: 'publisherName') %></th>
            <th class="col5">媒体/形式</th>
            <th class="col6">所持巻数</th>
            <th class="col7">合計</th>
            <th class="col8">編集</th>
          </tr>
        </thead>
        <tbody>
          <% if @comics.present? %>
            <% @comics.each do |comic| %>
              <tr>
                <td><%= comic.initial %></td>
                <td><%= link_to comic.title, comic_path(comic) %></td>
                <td><%= comic.author %></td>
                <td><%= comic.publisherName %></td>
                <td>
                  <% if comic.medium == "paper" %>
                    <%= "紙" %>
                  <% else comic.medium == "e_book" %>
                    <%= "電子書籍" %>
                  <% end %>
                  /<br>
                  <% if comic.story == "hardcover" %>
                    <%= "単行本" %>
                  <% elsif comic.story == "separate_volumes" %>
                    <%= "分冊本" %>
                  <% elsif comic.story == "single_story" %>
                    <%= "単話" %>
                  <% end %>
                </td>
                <td>
                  <%= comic.volumes.sort_by { |volume| volume.name.to_i }.pluck(:name).join(', ') %>
                </td>
                <td style="text-align: center;">
                  <%= comic.volumes.count %>
                </td>
                <td>
                  <%= link_to edit_comic_path(comic) do %>
                    <i class="fa-solid fa-pen-to-square"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="6">データがありません。</td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>