<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        
        <table class="table table-bordered" style="border: 2px solid black;">
          <% if @user.present? %>
            <tr>
              <th colspan="2" style="border: 1px solid black; background-color: #eaedf7; font-size: 1.5rem;">登録情報</th>
            </tr>
            <tr>
              <th style="border: 1px solid black; width: 20%;">ニックネーム</th>
              <td style="border: 1px solid black; width: 30%;"><%= @user.nickname %></td>
            </tr>
            <tr>
              <th style="border: 1px solid black;"><i class="fa-regular fa-envelope"></i>メールアドレス</th>
              <td style="border: 1px solid black;"><%= @user.email %></td>
            </tr>
          <% end %>
        </table>
        
        <%= link_to infomation_path(@user), class: "btn btn-success" do %>
          編集する
        <% end %>
        
        <%= link_to confirm_user_path(@user), class: "btn btn-danger" do %>
          削除する
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>