<div class="container">
  <div class="row">
    <div class="col-md-8">
      
      <h3 style="text-align: center;">
        <span style="background-color: #eaedf7;"><%= @user.nickname %>さんの会員詳細</span>
      </h3>

      <table class = "table_show">
        <tbody>
          <% if @user.present? %>
            <tr>
              <th>会員ID</th>
              <td><%= @user.id %></td>
            </tr>
            <tr>
              <th>氏名</th>
              <td><%= @user.nickname %></td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td><%= @user.email %>
            </tr>
            <tr>
              <th>会員ステータス</th>
              <td><%= @user.is_active ? "有効" : "退会" %>
            </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>
  </div>
  
  <div class="row justify-content-center text-center">
    <%= link_to "編集する", edit_admin_user_path, class: "btn btn-success" %>
    <%= link_to "一覧に戻る", admin_users_path, class: "btn btn-secondary" %>
  </div>
  
</div>