<%= form_for(@bookshelf, url: bookshelf_path(@bookshelf), method: :patch) do |f| %>
  <h4 style="text-decoration: underline;">タイトル(必須)</h4>
  <%= f.text_area :title, value: @bookshelf.book.title, required: true %>

  <h4 style="text-decoration: underline;">著者(必須)</h4>
  <%= f.text_field :author, value: @bookshelf.book.author, required: true %>

  <h4 style="text-decoration: underline;">出版社(必須)</h4>
  <%= f.text_field :publisherName, value: @bookshelf.book.publisherName, required: true %>

  <%= f.submit '更新', class: 'btn btn-primary' %>

<% end %>