<div class="container">

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th class="text-center">タイトル,著者,出版社</th>
            <th class="text-center">出版日</th>
            <th class="text-center">操作</th>
          </tr>
        </thead>

        <tbody>
          <% @bookshelves.each do |bookshelf| %>
            <tr>
              <td class="text-center">
                <% if bookshelf.book.image_url.present? %>
                  <%= image_tag bookshelf.book.image_url, width: 128, height: 188 %>
                <% else %>
                  <%= image_tag "no_image.jpg", width: 128, height: 188 %>
                <% end %>
              </td>
              <td class="text-center">
                <%= link_to bookshelf.book.title , bookshelf_path(bookshelf) %>
                <br>
                <%= bookshelf.book.author %>
                <br>
                <%= bookshelf.book.publisherName %>
              </td>
              <td class="text-center">
                <%= bookshelf.book.salesDate %>
              </td>
              <td style="text-align: center;">
                <%= link_to bookshelf_path(bookshelf), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" do %>
                  削除する
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>